<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beacon</title>
</head>
<body>
    <nav>
      {% if user.is_authenticated%}
        Welcome, {{user.username}} | 
        <form action="{% url 'logout' %}" method="post" style="display:inline;">
          {% csrf_token %}
          <button type="submit">Logout</button>
        </form>
      {% endif %}
    </nav>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
</body>
</html>
